<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Myweatherapp</display-name>
  <welcome-file-list>
    <welcome-file>search.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
     <welcome-file>search.html</welcome-file>
     <welcome-file>cards.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Myservlet</display-name>
    <servlet-name>Myservlet</servlet-name>
    <servlet-class>Mypackage.Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet</servlet-name>
    <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cards</display-name>
    <servlet-name>cards</servlet-name>
    <servlet-class>Mypackage.cards</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cards</servlet-name>
    <url-pattern>/cards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCard</display-name>
    <servlet-name>SaveCard</servlet-name>
    <servlet-class>Mypackage.SaveCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCard</servlet-name>
    <url-pattern>/SaveCard</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>avgtemp</display-name>
    <servlet-name>avgtemp</servlet-name>
    <servlet-class>Mypackage.avgtemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>avgtemp</servlet-name>
    <url-pattern>/avgtemp</url-pattern>
  </servlet-mapping>
</web-app>
